@model Domain.ViewModels.Catalogue.CatalogueViewModel

@{
    ViewBag.Title = "Каталог";
    Layout = "_Layout2";
}

<div class="cont_catalogue">
    <div class="cont_category">
        <nav class="nav_menu cat_menu">
            <ul>
                @if (Model.Categories.Count != 0)
                {
                    @foreach (var item in Model.Categories)
                    {
                        <li><a>@item.Name</a></li>
                    }
                }
            </ul>
        </nav>
        <div class="sorts">
            <label for="sort-options">Сортировать по:</label>
            <select id="sort-options">
                <option value="">Выберите...</option>
                <option value="asc">Цена (по возрастанию)</option>
                <option value="desc">Цена (по убыванию)</option>
            </select>
        </div>
    </div>
    
    
   
    <div class="cont_f_p">
        <div class="filter">
            <h3>Фильтр</h3>
            <div class="price-filter">
                <div class="min_max_cont">
                    <label>Минимальная цена:</label>
                    <input type="range" id="min-price" min="0" max="120000" value="0"/>

                    <label>Максимальная цена:</label>
                    <input type="range" id="max-price" min="0" max="120000" value="120000"/>

                    <div>Текущие значения: <span id="price_values">0 - 120000</span></div>
                    <input id="categoryId" value="@Model.CategoryId" style="display: none"/>
                </div>

                <div class="filter_button">
                    <button id="apply-filter">Применить фильтр</button>
                </div>
            </div>
        </div>
        <div class="cont_product">
            <div class="products">
                @foreach (var item in Model.Products)
                {
                    <div class="product_item">
                        <div class="product_main">
                            <h2>@item.Name</h2>
                            <img src="@item.ImagePath" class="product_img" alt=""/>
                        </div>
                        <div class="product_extra">
                            <p style="font-size: 25px">@item.Price &#8381;</p>
                            @if (@item.Quantity > 0) { <p style="color: green">Есть в наличии</p> }
                            @if (@item.Quantity <= 0) { <p style="color: red">Нет в наличии</p> }
                        </div>
                        <input asp-for="@item.Id" value="@item.Id" style="display: none"/>
                        <input asp-for="@item.CategoryId" value="@item.CategoryId" style="display: none"/>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
